@font-face {
    font-family: "gameboy";
    src: url('resources/Gill Sans Bold Italic.otf');
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'gameboy';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.top-bar {
    position: absolute;
    top: 0;
    background-color: #ed1c24;
    width: 100%;
}

#nintendo-logo {
    height: 100px;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: #FFF;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    margin: 0;

    font-size: 2rem;
    color: #a2bbc2;
}

.slogan {
    margin-bottom: 100px;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    background-color: #293237;
    padding-left: 25px;
    padding-right: 25px;
}

#color-logo {
    height: 3rem;
}

.gameboy-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    height: 5%;
}

@media(max-width: 744px) {
    .container {
        width: 100vw;
    }

    .panel:nth-last-of-type(4),
    .panel:nth-of-type(5)
    .panel:nth-of-type(6) {
        display: none;
    }

    .slogan {
        font-size: 2rem;
    }
    
    #color-logo {
        height: 1.5rem;
    }
}