@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "NES";
    src: url('resources/PressStart2P-vaV7.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background: url("resources/background.webp");
    background-size: contain;
    background-repeat: repeat-y;
    background-color: #7da1ff;
    background-position-y: 100px;
    font-family: 'NES', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.box {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;

    /* https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/ */
    background-image: url('resources/mario-brick.png');
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: contain;
    background-repeat: repeat-x;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 42px;
}

